* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
}

header {
    background-color: #404EED;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    padding-left: 60px;
    position: fixed;
    z-index: 1;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #C4C4C4;
}

.toda-pagina {
    display: flex;
    margin-top: 90px;
}

.container-opcoes {
    background-color: #E5E5E5;
    width: 600px;
    padding: 50px;
    margin: 0 auto;
}

.container-opcoes-1 {
    margin-bottom: 50px;
}

.opcoes-produtos {
    display: flex;
    justify-content: space-between;
}

.container-opcoes h2 {
    font-size: 25px;
    font-weight: 500;
    color: #232323;
    margin-bottom: 15px;
}

.container-opcoes input {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}

.container-opcoes input::placeholder {
    padding: 10px;
}

.fundo {
    width: 130px;
    height: 130px;
    border-radius: 80px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F2F2F2;
    border: 1px solid #C4C4C4;
}

.produto img {
    width: 100px;
    height: 100px;
}


.produto.tecido img {
    width: 80px;
    height: 80px;
}

.produto h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.container-modelo {
    background-color: #404EED;
    justify-content: center;
    display: flex;
    padding: 100px;
}

footer {
    background-color: #F2F2F2;
    padding: 30px;
    margin: 0 auto;
}

.container-ultimos-pedidos {
    width: 75%;
    margin: 0 auto;
    /* padding: 10px 500px 10px 250px; */
}

.container-ultimos-pedidos h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #232323;
}

.opcoes-produtos-prontos {
    display: flex;
    justify-content: space-between;
}

.opcaoes-alinhar {
    text-align: center;
}

.fundo-pronto {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 15px;
}

.fundo-pronto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.selecionado {
    border: 3px solid #404EED;
    border-radius: 80px;
}

@media (max-width: 900px) {

    header {
        text-align: center;
    }

    .container-opcoes {
        width: 100%;
        padding: 20px;
    }

    .container-opcoes h2 {
        font-size: 18px;
    }

    .fundo {
        width: 100px;
        height: 100px;
    }

    .produto img {
        width: 80px;
        height: 80px;
    }

    .produto.tecido img {
        width: 60px;
        height: 60px;
    }

    .produto h3 {
        font-size: 16px;
    }

    .container-modelo {
        display: none;
    }

    .container-ultimos-pedidos {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

    .container-ultimos-pedidos h2 {
        text-align: center;
    }

    .produto.pronto img {
        width: 150px;
        height: 150px;
    }

    .opcoes-produtos-prontos {
        display: flex;
        flex-direction: column;
    }

}